Load file with infos

In [1]:
import pandas as pd

file_path = "./projects.csv"
data = pd.read_csv(file_path)
data.head()

   unfinished  expected_hours  price
0           1              26    192
1           1              88   9015
2           1              89   2577
3           1              42    275
4           1              39    170

Create finished column

In [3]:
change_boolean = {
    0 : 1,
    1 : 0
}

data["finished"] = data.unfinished.map(change_boolean)
data.tail()

      unfinished  expected_hours  price  finished
2152           0              80   7518         1
2153           1              52   1332         0
2154           0              40    473         1
2155           0              75   5324         1
2156           1              37    377         0