Load file with infos

In [1]:
import pandas as pd

file_path = "./projects.csv"
data = pd.read_csv(file_path)
data.head()

   unfinished  expected_hours  price
0           1              26    192
1           1              88   9015
2           1              89   2577
3           1              42    275
4           1              39    170